* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ffffff,  #e1dacf);
    background-size: 400% 400%;
    animation: animateBackground 15s ease-in-out infinite;
    color: white;
    position: relative;
    cursor: none;
    /* Cache le curseur */
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    z-index: 10;
}

h1, p {
    background: inherit; /* Utilise l'arrière-plan du parent */
    background-clip: text; /* Clippe l'arrière-plan dans le texte */
    -webkit-background-clip: text; /* Support pour Webkit */
    color: transparent;
    mix-blend-mode: difference; /* Applique le mode négatif */
}

h1 {
    font-size: 8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #000;
    margin-bottom: 2rem;
}

.btn-start {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
    color: #000;
    background: transparent;
    border: solid 2px #77779c;
    border-radius: 50px;
    cursor: none;
    transition: background 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
}

.btn-start.selected {
    background: #fe8327;
    border: none;
}

.trail {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgba(255, 255, 0, 0) 0%, #fe8327 80%);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: screen;
    animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}